# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
dbt-core==1.7.0
dbt-postgres==1.7.0
psycopg2-binary==2.9.9
yfinance
pandas
requests
python-dateutil
pydantic
python-dotenv
uvicorn
fastapi